
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
Exception_Screenshots
################################################################################
# End of UiPath Studio common ignores
################################################################################
/.local
/Exceptions_Screenshots
/Data/Temp